스마트장치SW기초/8주차/mqtt_esp8266.json
[
    {
        "id": "c68f23ac9f078b61",
        "type": "tab",
        "label": "플로우 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "84f510ab3e3276ed",
        "type": "mqtt in",
        "z": "c68f23ac9f078b61",
        "name": "",
        "topic": "201708072/LED",
        "qos": "0",
        "datatype": "auto",
        "broker": "3e81875a92e63399",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 740,
        "y": 360,
        "wires": [
            [
                "f8c20302cc1c8c7e"
            ]
        ]
    },
    {
        "id": "f8c20302cc1c8c7e",
        "type": "debug",
        "z": "c68f23ac9f078b61",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 360,
        "wires": []
    },
    {
        "id": "27dbacca40b24845",
        "type": "inject",
        "z": "c68f23ac9f078b61",
        "name": "201708072/LED:0",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "201708072/LED",
        "payload": "0",
        "payloadType": "num",
        "x": 170,
        "y": 280,
        "wires": [
            [
                "b65339fdd83249f2"
            ]
        ]
    },
    {
        "id": "7da3ef9b3862b096",
        "type": "inject",
        "z": "c68f23ac9f078b61",
        "name": "201708072/LED:1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "201708072/LED",
        "payload": "1",
        "payloadType": "num",
        "x": 170,
        "y": 440,
        "wires": [
            [
                "b65339fdd83249f2"
            ]
        ]
    },
    {
        "id": "b65339fdd83249f2",
        "type": "mqtt out",
        "z": "c68f23ac9f078b61",
        "name": "",
        "topic": "201708072/LED",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3e81875a92e63399",
        "x": 480,
        "y": 360,
        "wires": []
    },
    {
        "id": "3e81875a92e63399",
        "type": "mqtt-broker",
        "name": "201708072/LED",
        "broker": "192.168.0.12",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    }
]