스마트장치SW기초/10주차/mqtt_esp8266_LED.json
[
    {
        "id": "c68f23ac9f078b61",
        "type": "tab",
        "label": "플로우 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b65339fdd83249f2",
        "type": "mqtt out",
        "z": "c68f23ac9f078b61",
        "name": "",
        "topic": "201708072/LED",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3e81875a92e63399",
        "x": 480,
        "y": 360,
        "wires": []
    },
    {
        "id": "8fa9c7280e447b28",
        "type": "ui_button",
        "z": "c68f23ac9f078b61",
        "name": "",
        "group": "a204c543a5f1dc2d",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "LED OFF",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 180,
        "y": 280,
        "wires": [
            [
                "b65339fdd83249f2"
            ]
        ]
    },
    {
        "id": "551a0c6e292cecb1",
        "type": "ui_button",
        "z": "c68f23ac9f078b61",
        "name": "",
        "group": "a204c543a5f1dc2d",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "LED ON",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 180,
        "y": 440,
        "wires": [
            [
                "b65339fdd83249f2"
            ]
        ]
    },
    {
        "id": "fdd4443ec40eb439",
        "type": "mqtt in",
        "z": "c68f23ac9f078b61",
        "name": "",
        "topic": "201708072/LED",
        "qos": "0",
        "datatype": "auto",
        "broker": "3e81875a92e63399",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 620,
        "y": 580,
        "wires": [
            [
                "17cb663d225e4cb4"
            ]
        ]
    },
    {
        "id": "17cb663d225e4cb4",
        "type": "ui_led",
        "z": "c68f23ac9f078b61",
        "order": 2,
        "group": "742b4a1cf5103635",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 890,
        "y": 580,
        "wires": []
    },
    {
        "id": "3e81875a92e63399",
        "type": "mqtt-broker",
        "name": "home",
        "broker": "192.168.0.17",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "a204c543a5f1dc2d",
        "type": "ui_group",
        "name": "Value",
        "tab": "9b053e7261c58d3d",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "742b4a1cf5103635",
        "type": "ui_group",
        "name": "LED",
        "tab": "9b053e7261c58d3d",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9b053e7261c58d3d",
        "type": "ui_tab",
        "name": "Demo",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]